<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/0b2a8fef-7152-4c83-ba07-17e08145127b/resourceGroups/aztechdaysacr/providers/Microsoft.ContainerRegistry/registries/aztechdaysacr</ResourceId>
    <ResourceName>aztechdaysacr</ResourceName>
    <ResourceGroup>aztechdaysacr</ResourceGroup>
    <Subscription>Visual Studio Professional Subscription</Subscription>
    <RegistryUrl>https://aztechdaysacr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>18ad4b88-2134-42b4-8c7e-069ec2fe9e25</ProjectGuid>
  </PropertyGroup>
</Project>